.theme-dark {
    --fill--accent-boost-gradient: url(#svg-fill-linear__dark__gradient--accentBoostGradient);
    --fill--accent-brand-gradient: url(#svg-fill-linear__dark__gradient--accentBrandGradient);
    --fill--accent-explore-gradient: url(#svg-fill-linear__dark__gradient--accentExploreGradient);
    --fill--accent-festival-mode-gradient: url(#svg-fill-linear__dark__gradient--accentFestivalModeGradient);
    --fill--accent-gold-gradient: url(#svg-fill-linear__dark__gradient--accentGoldGradient);
    --fill--accent-gold-shine-gradient: url(#svg-fill-linear__dark__gradient--accentGoldShineGradient);
    --fill--accent-hot-takes-gradient: url(#svg-fill-linear__dark__gradient--accentHotTakesGradient);
    --fill--accent-like-gradient: url(#svg-fill-linear__dark__gradient--accentLikeGradient);
    --fill--accent-match-expiration-gradient: url(#svg-fill-linear__dark__gradient--accentMatchExpirationGradient);
    --fill--accent-matchmaker-gradient: url(#svg-fill-linear__dark__gradient--accentMatchmakerGradient);
    --fill--accent-nope-gradient: url(#svg-fill-linear__dark__gradient--accentNopeGradient);
    --fill--accent-passions-gradient: url(#svg-fill-linear__dark__gradient--accentPassionsGradient);
    --fill--accent-platinum-gradient: url(#svg-fill-linear__dark__gradient--accentPlatinumGradient);
    --fill--accent-platinum-gradient-inverse: url(#svg-fill-linear__dark__gradient--accentPlatinumGradientInverse);
    --fill--accent-platinum-shine-gradient: url(#svg-fill-linear__dark__gradient--accentPlatinumShineGradient);
    --fill--accent-platinum-shine-gradient-inverse: url(#svg-fill-linear__dark__gradient--accentPlatinumShineGradientInverse);
    --fill--accent-primary-gradient: url(#svg-fill-linear__dark__gradient--accentPrimaryGradient);
    --fill--accent-rewind-gradient: url(#svg-fill-linear__dark__gradient--accentRewindGradient);
    --fill--accent-select-gradient: url(#svg-fill-linear__dark__gradient--accentSelectGradient);
    --fill--accent-sparks-boost-gradient: url(#svg-fill-linear__dark__gradient--accentSparksBoostGradient);
    --fill--accent-sparks-like-gradient: url(#svg-fill-linear__dark__gradient--accentSparksLikeGradient);
    --fill--accent-sparks-nope-gradient: url(#svg-fill-linear__dark__gradient--accentSparksNopeGradient);
    --fill--accent-sparks-rewind-gradient: url(#svg-fill-linear__dark__gradient--accentSparksRewindGradient);
    --fill--accent-sparks-super-like-gradient: url(#svg-fill-linear__dark__gradient--accentSparksSuperLikeGradient);
    --fill--accent-spotify-music-mode-gradient: url(#svg-fill-linear__dark__gradient--accentSpotifyMusicModeGradient);
    --fill--accent-super-boost-gradient: url(#svg-fill-linear__dark__gradient--accentSuperBoostGradient);
    --fill--accent-super-like-gradient: url(#svg-fill-linear__dark__gradient--accentSuperLikeGradient);
    --fill--accent-vibes-gradient: url(#svg-fill-linear__dark__gradient--accentVibesGradient);
    --fill--background-boost: url(#svg-fill-linear__dark__gradient--backgroundBoost);
    --fill--background-boost-inverse: url(#svg-fill-linear__dark__gradient--backgroundBoostInverse);
    --fill--background-boost-subtle: url(#svg-fill-linear__dark__gradient--backgroundBoostSubtle);
    --fill--background-brand-gradient: url(#svg-fill-linear__dark__gradient--backgroundBrandGradient);
    --fill--background-brand-subtle: url(#svg-fill-linear__dark__gradient--backgroundBrandSubtle);
    --fill--background-button-primary: url(#svg-fill-linear__dark__gradient--backgroundButtonPrimary);
    --fill--background-card-sparks-highlight-common-1: url(#svg-fill-linear__dark__gradient--backgroundCardSparksHighlightCommon1);
    --fill--background-card-sparks-highlight-common-2: url(#svg-fill-linear__dark__gradient--backgroundCardSparksHighlightCommon2);
    --fill--background-card-sparks-highlight-common-3: url(#svg-fill-linear__dark__gradient--backgroundCardSparksHighlightCommon3);
    --fill--background-card-sparks-highlight-uncommon-1: url(#svg-fill-linear__dark__gradient--backgroundCardSparksHighlightUncommon1);
    --fill--background-card-sparks-highlight-uncommon-2: url(#svg-fill-linear__dark__gradient--backgroundCardSparksHighlightUncommon2);
    --fill--background-card-sparks-highlight-uncommon-3: url(#svg-fill-linear__dark__gradient--backgroundCardSparksHighlightUncommon3);
    --fill--background-card-sparks-icebreaker: url(#svg-fill-linear__dark__gradient--backgroundCardSparksIcebreaker);
    --fill--background-card-sparks-prompt: url(#svg-fill-linear__dark__gradient--backgroundCardSparksPrompt);
    --fill--background-card-sparks-quiz: url(#svg-fill-linear__dark__gradient--backgroundCardSparksQuiz);
    --fill--background-explore-attribution: url(#svg-fill-linear__dark__gradient--backgroundExploreAttribution);
    --fill--background-festival-mode: url(#svg-fill-linear__dark__gradient--backgroundFestivalMode);
    --fill--background-gamepad-boost-pressed: url(#svg-fill-linear__dark__gradient--backgroundGamepadBoostPressed);
    --fill--background-gamepad-like-pressed: url(#svg-fill-linear__dark__gradient--backgroundGamepadLikePressed);
    --fill--background-gamepad-nope-pressed: url(#svg-fill-linear__dark__gradient--backgroundGamepadNopePressed);
    --fill--background-gamepad-rewind-pressed: url(#svg-fill-linear__dark__gradient--backgroundGamepadRewindPressed);
    --fill--background-gamepad-sparks-boost-pressed: url(#svg-fill-linear__dark__gradient--backgroundGamepadSparksBoostPressed);
    --fill--background-gamepad-sparks-like-pressed: url(#svg-fill-linear__dark__gradient--backgroundGamepadSparksLikePressed);
    --fill--background-gamepad-sparks-nope-pressed: url(#svg-fill-linear__dark__gradient--backgroundGamepadSparksNopePressed);
    --fill--background-gamepad-sparks-rewind-pressed: url(#svg-fill-linear__dark__gradient--backgroundGamepadSparksRewindPressed);
    --fill--background-gamepad-sparks-super-like-pressed: url(#svg-fill-linear__dark__gradient--backgroundGamepadSparksSuperLikePressed);
    --fill--background-gamepad-super-like-pressed: url(#svg-fill-linear__dark__gradient--backgroundGamepadSuperLikePressed);
    --fill--background-gold: url(#svg-fill-linear__dark__gradient--backgroundGold);
    --fill--background-gold-inverse: url(#svg-fill-linear__dark__gradient--backgroundGoldInverse);
    --fill--background-gold-shine: url(#svg-fill-linear__dark__gradient--backgroundGoldShine);
    --fill--background-gold-shine-inverse: url(#svg-fill-linear__dark__gradient--backgroundGoldShineInverse);
    --fill--background-gold-subtle: url(#svg-fill-linear__dark__gradient--backgroundGoldSubtle);
    --fill--background-hot-takes: url(#svg-fill-linear__dark__gradient--backgroundHotTakes);
    --fill--background-icon-button-primary: url(#svg-fill-linear__dark__gradient--backgroundIconButtonPrimary);
    --fill--background-like: url(#svg-fill-linear__dark__gradient--backgroundLike);
    --fill--background-like-inverse: url(#svg-fill-linear__dark__gradient--backgroundLikeInverse);
    --fill--background-like-subtle: url(#svg-fill-linear__dark__gradient--backgroundLikeSubtle);
    --fill--background-match-expiration: url(#svg-fill-linear__dark__gradient--backgroundMatchExpiration);
    --fill--background-nope: url(#svg-fill-linear__dark__gradient--backgroundNope);
    --fill--background-nope-inverse: url(#svg-fill-linear__dark__gradient--backgroundNopeInverse);
    --fill--background-passions-shared-rec: url(#svg-fill-linear__dark__gradient--backgroundPassionsSharedRec);
    --fill--background-passions-sparks-shared-overlay: url(#svg-fill-linear__dark__gradient--backgroundPassionsSparksSharedOverlay);
    --fill--background-platinum: url(#svg-fill-linear__dark__gradient--backgroundPlatinum);
    --fill--background-platinum-inverse: url(#svg-fill-linear__dark__gradient--backgroundPlatinumInverse);
    --fill--background-platinum-shine: url(#svg-fill-linear__dark__gradient--backgroundPlatinumShine);
    --fill--background-platinum-shine-inverse: url(#svg-fill-linear__dark__gradient--backgroundPlatinumShineInverse);
    --fill--background-platinum-subtle: url(#svg-fill-linear__dark__gradient--backgroundPlatinumSubtle);
    --fill--background-plus-subtle: url(#svg-fill-linear__dark__gradient--backgroundPlusSubtle);
    --fill--background-primary-linear: url(#svg-fill-linear__dark__gradient--backgroundPrimaryLinear);
    --fill--background-rec-card-bottom-ai-gradient: url(#svg-fill-linear__dark__gradient--backgroundRecCardBottomAiGradient);
    --fill--background-rewind: url(#svg-fill-linear__dark__gradient--backgroundRewind);
    --fill--background-rewind-inverse: url(#svg-fill-linear__dark__gradient--backgroundRewindInverse);
    --fill--background-scripted-onboarding: url(#svg-fill-linear__dark__gradient--backgroundScriptedOnboarding);
    --fill--background-select-subtle: url(#svg-fill-linear__dark__gradient--backgroundSelectSubtle);
    --fill--background-sparks-boost: url(#svg-fill-linear__dark__gradient--backgroundSparksBoost);
    --fill--background-sparks-like: url(#svg-fill-linear__dark__gradient--backgroundSparksLike);
    --fill--background-sparks-nope: url(#svg-fill-linear__dark__gradient--backgroundSparksNope);
    --fill--background-sparks-primary: url(#svg-fill-linear__dark__gradient--backgroundSparksPrimary);
    --fill--background-sparks-rewind: url(#svg-fill-linear__dark__gradient--backgroundSparksRewind);
    --fill--background-sparks-super-like: url(#svg-fill-linear__dark__gradient--backgroundSparksSuperLike);
    --fill--background-spotify-music-mode: url(#svg-fill-linear__dark__gradient--backgroundSpotifyMusicMode);
    --fill--background-super-boost: url(#svg-fill-linear__dark__gradient--backgroundSuperBoost);
    --fill--background-super-boost-inverse: url(#svg-fill-linear__dark__gradient--backgroundSuperBoostInverse);
    --fill--background-super-boost-subtle: url(#svg-fill-linear__dark__gradient--backgroundSuperBoostSubtle);
    --fill--background-super-like: url(#svg-fill-linear__dark__gradient--backgroundSuperLike);
    --fill--background-super-like-inverse: url(#svg-fill-linear__dark__gradient--backgroundSuperLikeInverse);
    --fill--background-super-like-subtle: url(#svg-fill-linear__dark__gradient--backgroundSuperLikeSubtle);
    --fill--background-swipesurge: url(#svg-fill-linear__dark__gradient--backgroundSwipesurge);
    --fill--background-teal-subtle: url(#svg-fill-linear__dark__gradient--backgroundTealSubtle);
    --fill--background-vault-gradient: url(#svg-fill-linear__dark__gradient--backgroundVaultGradient);
    --fill--background-vault-subtle: url(#svg-fill-linear__dark__gradient--backgroundVaultSubtle);
    --fill--border-brand-gradient: url(#svg-fill-linear__dark__gradient--borderBrandGradient);
    --fill--border-match-expiration: url(#svg-fill-linear__dark__gradient--borderMatchExpiration);
    --fill--border-sparks-prompt-selected: url(#svg-fill-linear__dark__gradient--borderSparksPromptSelected);
    --fill--border-vault-gradient: url(#svg-fill-linear__dark__gradient--borderVaultGradient);
    --fill--fade-primary-bottom-to-top: url(#svg-fill-linear__dark__gradient--fadePrimaryBottomToTop);
    --fill--fade-primary-top-to-bottom: url(#svg-fill-linear__dark__gradient--fadePrimaryTopToBottom);
    --fill--foreground-progress-active: url(#svg-fill-linear__dark__gradient--foregroundProgressActive);
    --fill--icon-boost: url(#svg-fill-linear__dark__gradient--iconBoost);
    --fill--icon-brand-gradient: url(#svg-fill-linear__dark__gradient--iconBrandGradient);
    --fill--icon-chat-drawer-vibes-active: url(#svg-fill-linear__dark__gradient--iconChatDrawerVibesActive);
    --fill--icon-container-banner-default: url(#svg-fill-linear__dark__gradient--iconContainerBannerDefault);
    --fill--icon-gamepad-primary-boost-default: url(#svg-fill-linear__dark__gradient--iconGamepadPrimaryBoostDefault);
    --fill--icon-gamepad-primary-like-default: url(#svg-fill-linear__dark__gradient--iconGamepadPrimaryLikeDefault);
    --fill--icon-gamepad-primary-nope-default: url(#svg-fill-linear__dark__gradient--iconGamepadPrimaryNopeDefault);
    --fill--icon-gamepad-primary-rewind-default: url(#svg-fill-linear__dark__gradient--iconGamepadPrimaryRewindDefault);
    --fill--icon-gamepad-primary-super-like-default: url(#svg-fill-linear__dark__gradient--iconGamepadPrimarySuperLikeDefault);
    --fill--icon-gamepad-secondary-boost-default: url(#svg-fill-linear__dark__gradient--iconGamepadSecondaryBoostDefault);
    --fill--icon-gamepad-secondary-like-default: url(#svg-fill-linear__dark__gradient--iconGamepadSecondaryLikeDefault);
    --fill--icon-gamepad-secondary-nope-default: url(#svg-fill-linear__dark__gradient--iconGamepadSecondaryNopeDefault);
    --fill--icon-gamepad-secondary-rewind-default: url(#svg-fill-linear__dark__gradient--iconGamepadSecondaryRewindDefault);
    --fill--icon-gamepad-secondary-super-like-default: url(#svg-fill-linear__dark__gradient--iconGamepadSecondarySuperLikeDefault);
    --fill--icon-gamepad-sparks-boost-default: url(#svg-fill-linear__dark__gradient--iconGamepadSparksBoostDefault);
    --fill--icon-gamepad-sparks-like-default: url(#svg-fill-linear__dark__gradient--iconGamepadSparksLikeDefault);
    --fill--icon-gamepad-sparks-nope-default: url(#svg-fill-linear__dark__gradient--iconGamepadSparksNopeDefault);
    --fill--icon-gamepad-sparks-rewind-default: url(#svg-fill-linear__dark__gradient--iconGamepadSparksRewindDefault);
    --fill--icon-gamepad-sparks-super-like-default: url(#svg-fill-linear__dark__gradient--iconGamepadSparksSuperLikeDefault);
    --fill--icon-gold: url(#svg-fill-linear__dark__gradient--iconGold);
    --fill--icon-like: url(#svg-fill-linear__dark__gradient--iconLike);
    --fill--icon-match-expiration: url(#svg-fill-linear__dark__gradient--iconMatchExpiration);
    --fill--icon-navigation-primary-active: url(#svg-fill-linear__dark__gradient--iconNavigationPrimaryActive);
    --fill--icon-nope: url(#svg-fill-linear__dark__gradient--iconNope);
    --fill--icon-platinum: url(#svg-fill-linear__dark__gradient--iconPlatinum);
    --fill--icon-rewind: url(#svg-fill-linear__dark__gradient--iconRewind);
    --fill--icon-sparks-boost: url(#svg-fill-linear__dark__gradient--iconSparksBoost);
    --fill--icon-sparks-like: url(#svg-fill-linear__dark__gradient--iconSparksLike);
    --fill--icon-sparks-matchmaker-attribution: url(#svg-fill-linear__dark__gradient--iconSparksMatchmakerAttribution);
    --fill--icon-sparks-nope: url(#svg-fill-linear__dark__gradient--iconSparksNope);
    --fill--icon-sparks-rewind: url(#svg-fill-linear__dark__gradient--iconSparksRewind);
    --fill--icon-sparks-super-like: url(#svg-fill-linear__dark__gradient--iconSparksSuperLike);
    --fill--icon-superlike: url(#svg-fill-linear__dark__gradient--iconSuperlike);
    --fill--icon-vault-gradient: url(#svg-fill-linear__dark__gradient--iconVaultGradient);
    --fill--overlay-card: url(#svg-fill-linear__dark__gradient--overlayCard);
    --fill--overlay-primary-gradient: url(#svg-fill-linear__dark__gradient--overlayPrimaryGradient);
    --fill--overlay-profile-button-gamepad: url(#svg-fill-linear__dark__gradient--overlayProfileButtonGamepad);
    --fill--overlay-profile-sparks-super-like: url(#svg-fill-linear__dark__gradient--overlayProfileSparksSuperLike);
    --fill--overlay-rec-card-default: url(#svg-fill-linear__dark__gradient--overlayRecCardDefault);
    --fill--overlay-rec-card-highlight: url(#svg-fill-linear__dark__gradient--overlayRecCardHighlight);
    --fill--overlay-rec-card-intent-a: url(#svg-fill-linear__dark__gradient--overlayRecCardIntentA);
    --fill--overlay-rec-card-intent-b: url(#svg-fill-linear__dark__gradient--overlayRecCardIntentB);
    --fill--overlay-rec-card-intent-c: url(#svg-fill-linear__dark__gradient--overlayRecCardIntentC);
    --fill--overlay-rec-card-intent-d: url(#svg-fill-linear__dark__gradient--overlayRecCardIntentD);
    --fill--overlay-rec-card-intent-e: url(#svg-fill-linear__dark__gradient--overlayRecCardIntentE);
    --fill--overlay-rec-card-intent-f: url(#svg-fill-linear__dark__gradient--overlayRecCardIntentF);
    --fill--overlay-rec-card-sparks-super-like: url(#svg-fill-linear__dark__gradient--overlayRecCardSparksSuperLike);
    --fill--overlay-rec-card-super-like: url(#svg-fill-linear__dark__gradient--overlayRecCardSuperLike);
    --fill--overlay-rec-card-vault: url(#svg-fill-linear__dark__gradient--overlayRecCardVault);
    --fill--overlay-secondary-gradient: url(#svg-fill-linear__dark__gradient--overlaySecondaryGradient);
    --fill--overlay-subtle-card: url(#svg-fill-linear__dark__gradient--overlaySubtleCard);
    --fill--shimmer-gold: url(#svg-fill-linear__dark__gradient--shimmerGold);
    --fill--shimmer-platinum: url(#svg-fill-linear__dark__gradient--shimmerPlatinum);
    --fill--swipe-overlay-rec-card-sparks-like: url(#svg-fill-linear__dark__gradient--swipeOverlayRecCardSparksLike);
    --fill--swipe-overlay-rec-card-sparks-nope: url(#svg-fill-linear__dark__gradient--swipeOverlayRecCardSparksNope);
    --fill--swipe-overlay-rec-card-sparks-super-like: url(#svg-fill-linear__dark__gradient--swipeOverlayRecCardSparksSuperLike);
    --fill--text-match-expiration: url(#svg-fill-linear__dark__gradient--textMatchExpiration);
    --fill--text-sparks-matchmaker-attribution: url(#svg-fill-linear__dark__gradient--textSparksMatchmakerAttribution);
}